# Python
__pycache__/
*.pyc
.venv/
.env

# Outputs / artifacts
outputs/
*.onnx
*.har
*.hef
*.har
*.npz
*.log
*.csv
*.onnx.data

# Model weights
*.pth
*.pt

# OS/editor
.DS_Store
.vscode/

# Build / install logs
.install_logs/